<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Website</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fontawesome-free-5.15.3-web/css/all.css">
</head>

<body>

    <!--Create Header of Website-->
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="index.html">
                    <img src="imgs/main-logo.png" alt="" width="125px">
                </a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="product.html">Products</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="account.html">Account</a></li>
                </ul>
            </nav>
            <a href="cart.html">
                <img src="imgs/cart.png" width="30px" height="30px" alt="">
            </a>
            <img src="imgs/menu.png" class="menu-icon" alt="" onclick="menutoggle()">
        </div>
    </div>

    <div class="about-page">
        <h1 class="title">About Us</h1>
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    12345
                </div>
                <div class="col-2">
                    23242
                </div>
            </div>
        </div>
    </div>
    <!-- #Footer-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <img src="imgs/main-logo.png" alt="">
                    <p>Our purpose is to give the best quality product tho the customer and bring them back and make
                        them happy.</p>
                </div>
                <div class="footer-col-2">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-3">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <script src="js/script.js"></script>
</body>

</html>